@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



::-webkit-scrollbar {
    width: 12px;
}


::-webkit-scrollbar-track {
    background: rgba(216, 216, 216, 0.164);
}


::-webkit-scrollbar-thumb {
    background-color: rgba(170, 170, 170, 0.724);
    border-radius: 15px;
    border: 2px solid #20151500;
    transition: all .2s ease-in-out;
}


::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 101, 183);
}


body {
    background-color: #f8f9fa;
    overflow-x: hidden;
    font-family: "Advent Pro", sans-serif !important;
}


#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #edf1f3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 9999;
    transition: opacity 1s ease-in-out;
}


.loader {
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-top: 5px solid #2c6893;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.site-content {
    display: none;
    opacity: 0;
    background: #edf1f3;
    transition: opacity 1s ease-in-out;
}


.fade-in {
    opacity: 1 !important;
}


.fade-out {
    opacity: 0 !important;
}

.top-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Advent Pro", sans-serif;
    background-color:#fdfdfd00;

}

.top-bar .leftlist {
    background-color: #275B81;
    border-bottom: 0.025rem solid rgb(89, 185, 232);
    border-radius: 0 0 5rem 0;
    box-shadow: 0 0 0.625rem rgba(24, 102, 135, 0.25);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    gap: 2rem;
}


.top-bar .leftlist:hover {
    transform: scale(1.02);
    background-color: #2c6893;
}

.top-bar .leftlist i {
    font-size: 2.8rem;
    color: #8dadba;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    vertical-align: middle;
}

.top-bar .leftlist i:hover {
    transform: scale(1.05);
    color: #aec9d4;
}

span {
    color: rgba(223, 241, 249, 0.965);
    font-size: 1.7rem;
}

.top-bar .rightlist {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0 3rem;
    transform: translateY(0.7rem);
}

.lang {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color:#fdfdfd00;
    color: #185c8d;
    padding: 1rem;
    border-radius: 8px;
        font-size: 1.7rem;
        font-weight: 600;
        transition: all .3s ease-in-out;

}

.lang-btn {
    display: flex;
    align-items: center;
    gap: 5px;
}
.lang:hover{
    transform: scale(1.05);
}
.lang-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /* Space items evenly */
    align-items: center;
    gap: 0.0rem; /* Fix: Apply gap here instead of li */
    list-style: none;
    margin: 0;
    padding: 0.5rem 1rem; /* Add some padding for better spacing */
    position: absolute;
    top: 100%;
    left: -6.5rem;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px) scale(0.95); 
    transition: opacity 0.3s ease-in-out, 
                transform 0.3s cubic-bezier(0.3, 1.5, 0.4, 1);
}


.lang-menu li {
    padding: 0.5rem;
    border-radius: 8px;
    border: #b4d4de 1px solid;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.032);
    background-color: #24577b;
    transition: all .2s ease-in-out;
}
.lang-menu li:hover{
    transform: scale(1.03);
    background-color: #2c6893;
}

.lang:hover .lang-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scale(1); /* Normal size */
}

  


.lang-menu li:last-child {
    border-bottom: none;
}

.lang-menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #d4e3e9;
}



.top-bar .rightlist .searchbox {
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.021);
    border: solid     #E5EEF2;
    border-radius: 1rem;
    background: #E5EEF2;
    padding: 0.4rem 1rem;
    width: 30rem;
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
}
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
.top-bar .rightlist .searchbox:hover {
    transform: scale(1.03);
}

.top-bar .rightlist .searchbox input {
    font-family: "Advent Pro", sans-serif;
    border: none;
    background: transparent;
    padding: 0.6rem;
    font-size: 1.5rem;
    font-weight: 600;
    flex-grow: 1;
    outline: none;
    color: #2c6893;
    min-width: 180px;
}

.top-bar .rightlist .searchbox input::placeholder {
    color: #2c6893;
    font-size: 1.5rem;
}

.top-bar .rightlist .searchbox i {
    font-size: 2rem;
    color: rgb(34, 69, 109);
    margin-left: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.top-bar .rightlist .searchbox i:hover {
    transform: scale(1.2);
}


header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 3rem 3rem 3rem 9rem;
    font-family: "Advent Pro", sans-serif !important;
}

.logo img {
    width: 29rem;
    height: 7rem;
    transform: scale(1.02);
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.logo img:hover{
    transform: scale(1.05);
}

header .location p {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(34, 69, 109);
    text-align: center;
    letter-spacing: 0.2rem;
}



header .login a {
    text-decoration: none;
}

header .login a button {
    background-color: transparent;
    padding: 1.3rem 3.8rem;
    color: #275B81;
    font-family: "Advent Pro", sans-serif !important;
    font-size: 2.3rem;
    font-weight: 700;
    outline: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    letter-spacing: 3px;
}

header .login a button:hover {
    transform: scale(1.03);
    color: #18669d;
}
.mobile-nav {
    position: relative;
    display: none; 
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    background: #E5EEF2;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 0 1rem;
    font-family: "Advent Pro", sans-serif !important;
    font-weight: 700;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li:last-child{
    border: none;
}
nav ul li {
    padding: 0.2rem 2rem 0.2rem 2rem;
    position: relative;
    border-right: 0.5px solid rgba(124, 145, 175, 0.384);
    transition: all .2s ease-in-out;
}

nav ul li:hover {
    background: rgba(166, 192, 203, 0.19);
    transform: scale(1.05);
}


nav ul li a {
    text-decoration: none;
    color: #275B81;
    display: block;
    padding: 1rem;
    transition: all .2s ease-in-out;
}

nav ul li a:hover {
    color: #2c6b97;
}

nav li a span {
    font-size: 1rem;
    color: #275B81;
}

nav ul li.dropdown ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background: #E5EEF2;
    list-style: none;
    min-width: 150px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 20px 20px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
nav ul li.dropdown ul li:last-child{
    border: none;
}
nav ul li.dropdown:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

nav ul li.dropdown ul li {
    border-right: none;
    border-bottom: dashed 1.5px rgba(124, 145, 175, 0.555);
}

nav ul li.dropdown ul li a {
    color: #275B81;
    padding: 1rem;
}


nav ul .dropdown .dropdown-menu li.dropdownsub ul {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
    left: 97.5%;
    background: #E5EEF2;
    list-style: none;
    min-width: 150px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0px 20px 20px 0px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

nav ul .dropdown .dropdown-menu li.dropdownsub:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

nav ul .dropdown .dropdown-menu li.dropdownsub ul li {
    border-right: none;
    border-bottom: dashed 1.5px rgba(124, 145, 175, 0.555);
    white-space: nowrap;
    border-right: 0.5px solid rgba(124, 145, 175, 0.384);
    border-bottom: none;
}


section {
    font-family: "Advent Pro", sans-serif !important;
}


.mainsection {
    position: relative;
    background-image: url('Data/other/main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    animation: sliding 30s ease-in-out infinite;
    transition: background-image 0.60s ease-in-out;
    z-index: 0;
    padding: 5rem;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    text-align: left;
}

.mainsection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background: linear-gradient(90.00deg, rgba(39, 91, 129, 0.77) 0%, rgba(255, 255, 255, 0.13) 100%);
    z-index: 1;
    pointer-events: none;
}
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
@keyframes slideIn {
    0% {
        transform: translateX(-100%) scale(0.95); /* Start off-screen with a slight scale */
        opacity: 0;
    }
    75% {
        transform: translateX(2%) scale(1.03); /* Very subtle overshoot */
        opacity: 0.9; /* Almost fully visible */
    }
    100% {
        transform: translateX(0) scale(1); /* End at final position with normal scale */
        opacity: 1;
    }
}


.mainsection p {
    z-index: 2;
    color: rgb(245, 252, 255);
    font-size: 10rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1rem;
    animation: float 3s ease-in-out infinite,slideIn 1s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
    animation-delay:.5s ;
    text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);

}

.explor {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    background-color: #275B81;
    color: white;
    padding: 1.3rem 2rem;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    z-index: 2;
}
.explor i{
    vertical-align: middle;
    animation: bounceEffect 1.5s infinite ease-out;

}
@keyframes bounceEffect {
    0% { transform: translateY(0); }
    20% { transform: translateY(-10px); }
    40% { transform: translateY(0); }
    60% { transform: translateY(-5px); }
    80% { transform: translateY(0); }
    100% { transform: translateY(0); }
}

.explor label {
    cursor: pointer;
}

  
  .explor:hover {
    transform: scale(1.02);
    box-shadow: 0 0 12px rgba(20, 146, 184, 0.7);
  }
  
 

@keyframes sliding {

    0%,
    15% {
        background-image: url('Data/other/main.jpg');
    }

    16%,
    32% {
        background-image: url('Data/other/main3.jpg');
    }

    33%,
    48% {
        background-image: url('Data/other/main.png');
    }

    49%,
    66% {
        background-image: url('Data/other/main4.jpg');
    }

    67%,
    82% {
        background-image: url('Data/other/main5.jpg');
    }

    83%,
    100% {
        background-image: url('Data/other/main6.jpg');
    }
}
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.4;
    }to{
        opacity: 1;
        scale: 1;
    }
}
.firstsection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    background-image: url('https://www.transparenttextures.com/patterns/geometry.png');
    background-attachment: fixed;
    animation: scrollPattern 10s linear infinite;
    opacity: 1;
}

@keyframes scrollPattern {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 100px;
    }
}

.firstsection .title {
    width: 100%;
    height: auto;
    background-color: #f8f9fa;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scrollPattern 10s linear infinite,appear .5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

}

.firstsection h1 {
    color: #12588a;
    text-align: center;
    font-size:2.5rem;
    padding: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.firstsection .Discription {
    padding: 4rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    line-height: 2;
    letter-spacing: 2px;
    animation: scrollPattern 10s linear infinite,appear .5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.news-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    animation: appear .5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.news-header {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #185c8d;
}

.news-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-wrapper {
    overflow: hidden;
    width: 85%;
    display: flex;
    justify-content: flex-start;
}

.news-slider {
    display: flex;
    align-items: center;
    gap: 25px;
    transition: transform 0.5s ease-in-out;
    width: max-content;
}

.news-item {
    width: 90vw;
    height: 80vh;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.062);
    text-align: center;
    padding: 1rem;
    opacity: 0.5;
    transform: scale(0.85);
    transition: all 0.5s ease;
}

.news-item.active {
    width: 80vw;
    height: 70vh;
    opacity: 1;
    transform: scale(1);
}

.news-item img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 8px;
}

.news-item h3 {
    font-size: 2rem;
    padding: 1rem;
}

.news-item p {
    font-size: 1.4rem;
    color: #555;
}

.news-details {
    display: none;
    font-size: 1.3rem;
    color: #333;
    margin-top: 10px;
}

.news-item.active .news-details {
    display: block;
}

.nav-btn {
    background: #1c6498;
    color: white;
    border: none;
    padding: 1.5rem;
    font-size: 14px;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 7;
}

.prev-btn {
    left: 20px;
}

.next-btn {
    right: 20px;
}

.nav-btn:hover {
    background: #0056b3;
}

.nav-btn {
    background: #1c6498;
    color: white;
    border: none;
    padding: 1.5rem;
    font-size: 14px;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 7;
}

.prev-btn {
    left: 20px;
}

.next-btn {
    right: 20px;
}

.nav-btn:hover {
    background: #0056b3;
}




.labs-section {
    padding: 2.5rem;
    background-color: #f8f9fa;
    text-align: center;
    animation: scrollPattern 10s linear infinite,appear .5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    height: auto !important;
    overflow: visible !important;
}

.labs-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #185c8d;
}

.labs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 100rem;
    height: auto;
    min-height: 20rem; /* Ensure a reasonable minimum height */
    margin: auto;
    padding: 0.625rem;
}

.labs-item {
    background: white;
    border-radius: 8px;
    overflow: visible !important;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    animation: scrollPattern 10s linear infinite,appear .5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.labs-item:hover {
    transform: translateY(-0.4375rem);
}

.labs-item img {
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
}

.labs-content {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    color: black !important;
}
.labs-content h3 {
    font-size: 1.5rem;
    color: #0d47a1;
    margin-bottom: 0.7rem;
}

.labs-date {
    font-size: 1rem;
    color: #757575;
    margin-bottom: 0.625rem;
}


.page-exit {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.teams-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 20px;
    transition: all .3s ease-in-out;
    position: relative; 
    background-color: #f8f9fa;
    background-image: url('https://www.transparenttextures.com/patterns/geometry.png');
    background-attachment: fixed;
    animation: scrollPattern 10s linear infinite;
}

@keyframes scrollPattern {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 100px;
    }
}

.teams_title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #185c8d;
}

.team-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

#team-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#team-selection h2 {
    padding: 1rem 3rem 3rem 3rem;
    font-size: 2rem;
}

.teams-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 1rem;
}

.team-item {
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    gap: 3rem;
    width: 100%;
    font-size: 1.5rem;
    position: relative;
    overflow: hidden;
    background: white;
    transition: all .3s ease-in-out;
    animation: scrollPattern 10s linear infinite,appear .5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


.team-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.6);
}




.team-item:hover {
    background: #e0e0e0;
    transform: scale(1.04);
}

.team-item input {
    display: none;
}

.team-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.team-name{
font-size: 2rem;
color: #0056b3;
}
.team-content {
    text-align: left;
    font-size: 1.5rem;
}

.team-item:hover,
.team-item.selected {
    background: #458ec2;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);

}

.action-button {
    padding: 1.5rem 2.5rem;
    border: none;
    background: #185c8d;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px 0px 40px 0px;
    font-size: 1.5rem;
    font-family: "Advent Pro", sans-serif !important;
font-weight: 700;

}



  
  .action-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(20, 146, 184, 0.7);
  }
  
  
.footer {
    background:     #275B81   ;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: scrollPattern 10s linear infinite,appear .5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 00%;
    transition: all .3s ease-in-out;
}
.footer:hover{
    transform: scale(1.02);
}

.footer-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    max-width: 140rem;
    gap: 40px;
    padding: 5rem;
}

.whitelogo img {
    max-width: 24rem;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 120rem;
    flex-wrap: nowrap;
}


.footer-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0rem 3rem 0rem 3rem;
    transition: all .3s ease-in-out;

}
.footer-column:hover{
    transform: scale(1.-2);
}
.footer-column strong {
    color: #ffffff;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.footer-column a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 8px;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #58a6ff;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    font-size: 1.5rem;
    color: #dadada;
    padding: 1rem;
    border-top: rgba(148, 148, 148, 0.258) 1px solid;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 5px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    gap: 1rem;
}

.footer-social a {
    color: #f5f5f5;
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.footer-social a:hover {
    color: #58a6ff;
    transform: scale(1.02);
}